 {% extends "base.html" %}
 {% block content%}
<html>
   
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        {% for sub in slist%}
        <div>{{sub}}</div>
        {% endfor %}

        <br>
        <table>
            <tr>
                <th>Name</th>
                <th>Mobile</th>
            </tr>
            
            {%for dict in ins%}
                <tr>
                    <th>{{dict.name}}</th>
                    <th>{{dict.Mobile}}</th>
                </tr>
            {%endfor%}
        </table>

        {% comment %} <marquee>This text will scroll from right to left</marquee>

        <marquee direction="up">This text will scroll from bottom to top</marquee>

        <marquee
            direction="down"
            width="250"
            height="200"
            behavior="alternate"
            style="border:solid">
            <marquee behavior="alternate">This text will bounce</marquee>
        </marquee> {% endcomment %}

        <form method="POST" action="{% url 'contact_submit' %}">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required> <br><br>
        
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required><br><br>
        
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" required><br><br>
        
            <label for="message">Message:</label>
            <textarea id="message" name="message" required></textarea>
        
            <button type="submit">Submit</button>
        </form>
        
        
    </body>
    
</html>
{% endblock%}


