{% extends "base.html" %}
{% load static %}
{%block content%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Django App</title>
    
    <!-- Link CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>{{newsDetails.news_title | safe}}</h2>

    <div>
        {{newsDetails.news_desc | safe}}
    </div>

    <div>
        {%if newsDetails.news_image != NULL %}
        <img src="/media/{{newsDetails.news_image}}" class="img-fluid">
        {% endif %}
    </div>
</body>

</html>

{%endblock%}